<div class="relative inline-flex items-center gap-2">
  <%= hidden_field_tag name, unchecked_value, id: nil %>
  <%= check_box_tag name, checked_value, checked, class: "sr-only peer", disabled: disabled, id: id, **opts %>
  <%= label_tag name, (label || "&nbsp;").html_safe, class: label_classes, for: id %>
</div>
