<%# app/views/lunchflow_connections/edit.html.erb %>
<div class="max-w-lg mx-auto">
  <h1 class="text-xl font-semibold text-primary mb-4">Edit Lunchflow Connection</h1>
  <%= render "form", connection: @connection %>
</div>
