<%# app/views/lunchflow_connections/index.html.erb %>
<div class="space-y-4">
  <div class="flex justify-between items-center">
    <h1 class="text-xl font-semibold text-primary">Lunchflow Connections</h1>
    <%= link_to "Add Connection", new_lunchflow_connection_path, class: "btn btn--primary" %>
  </div>

  <% if @connections.any? %>
    <div class="space-y-2">
      <% @connections.each do |connection| %>
        <%= render partial: "connection", locals: { connection: connection } %>
      <% end %>
    </div>
  <% else %>
    <div class="text-center py-8 text-secondary">
      <p>No Lunchflow connections yet.</p>
      <p class="mt-2">
        <%= link_to "Add your first connection", new_lunchflow_connection_path, class: "text-primary underline" %>
      </p>
    </div>
  <% end %>
</div>
